.store-main-container{
    background-color: nth($palette, 1);
    width: $maxWidth;
    height: $maxHeight;

    display: flex;
    flex-direction: row;

    .back{
        font-size: $mp-l;
        font-family: $fontHeader;
        color: nth($palette, 3);
        margin: 1em;
        cursor: pointer;
    }

    .store-article-form{
        height: $maxHeight;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 2em;
    }

    .store-articles {
      

        height: $maxHeight;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 2em;

        font-family: $fontBody;
        font-size: $mp-h;

        .map-articles{
            font-size: $mp-i;
            width: 25em;


            .input-article {
                background-color: transparent;
                border-color: transparent;
                width: $mp-w;

                :hover{
                    border-color: grey;
                }
            }
        }


        button{
            @include btnSesion($background-color: nth($palette, 2));
            color: nth($palette, 1);
            font-size: $mp-i;
            width: 25em;
            margin-left: 7em;
            margin-bottom: 1em;
        }

        .btns{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 30em;

            .delete-btn{
                @include btnSesion($colorHover: $danger, $width: 20em);
            }
            .update-btn{
                @include btnSesion($colorHover: nth($palette, 2), $width: 20em);

            }
        }
    }
    
};