@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Rasa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow+Semi+Condensed:ital,wght@1,600&family=Rasa:wght@300&display=swap");
.article-main-container {
  background-color: #3a6351;
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Rasa", serif;
  font-size: 20px; }
  .article-main-container input {
    background-color: transparent;
    width: 320px; }
  .article-main-container .button-create {
    width: 10em;
    height: 2em;
    background-color: transparent;
    transition: 0.7s;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #393232;
    color: #f2edd7;
    margin: 1em; }
    .article-main-container .button-create:hover {
      border-color: #3a6351;
      border-radius: 0.3em;
      transition: 0.7s;
      height: 2.2em; }

.register-main-conainer {
  background-color: #3a6351;
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Rasa", serif;
  font-size: 20px; }
  .register-main-conainer input {
    background-color: transparent;
    width: 320px; }
  .register-main-conainer button {
    width: 10em;
    height: 2em;
    background-color: transparent;
    transition: 0.7s;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #393232;
    color: #f2edd7;
    margin: 1em; }
    .register-main-conainer button:hover {
      border-color: #3a6351;
      border-radius: 0.3em;
      transition: 0.7s;
      height: 2.2em; }

.home-main-conainer {
  background-color: #f2edd7;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .home-main-conainer .home-icon-menu {
    background-color: #f2edd7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .home-main-conainer .home-icon-menu p {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 40px;
      color: #e48257; }

.login-main-container {
  background-color: #f2edd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh; }
  .login-main-container .title-login {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 4em; }
  .login-main-container .form-container {
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Rasa", serif;
    font-size: 1.5em; }
    .login-main-container .form-container input {
      width: 320px;
      background-color: transparent; }
    .login-main-container .form-container button {
      width: 10em;
      height: 2em;
      background-color: transparent;
      transition: 0.7s;
      border-radius: 0.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #393232;
      margin-top: 2em; }
      .login-main-container .form-container button:hover {
        border-color: #3a6351;
        border-radius: 0.3em;
        transition: 0.7s;
        height: 2.2em; }

.profile-main-container {
  background-color: #f2edd7;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row; }
  .profile-main-container .back {
    font-size: 40px;
    font-family: "Barlow Condensed", sans-serif;
    color: #e48257;
    margin: 1em;
    cursor: pointer; }
  .profile-main-container .profile-register {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2em; }
  .profile-main-container .profile-users {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    font-family: "Rasa", serif;
    font-size: 16px; }
    .profile-main-container .profile-users .map-users {
      font-size: 20px;
      width: 25em; }
    .profile-main-container .profile-users button {
      width: 10em;
      height: 2em;
      background-color: #3a6351;
      transition: 0.7s;
      border-radius: 0.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #393232;
      color: #f2edd7;
      font-size: 20px;
      width: 25em;
      margin-left: 7em;
      margin-bottom: 1em; }
      .profile-main-container .profile-users button:hover {
        border-color: #3a6351;
        border-radius: 0.3em;
        transition: 0.7s;
        height: 2.2em; }
    .profile-main-container .profile-users .input-profile {
      background-color: transparent;
      border-color: transparent;
      width: 320px; }
      .profile-main-container .profile-users .input-profile :hover {
        border-color: grey; }
    .profile-main-container .profile-users .btns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 30em; }
      .profile-main-container .profile-users .btns .delete-btn {
        width: 20em;
        height: 2em;
        background-color: transparent;
        transition: 0.7s;
        border-radius: 0.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #393232; }
        .profile-main-container .profile-users .btns .delete-btn:hover {
          border-color: #a51b1b;
          border-radius: 0.3em;
          transition: 0.7s;
          height: 2.2em; }
      .profile-main-container .profile-users .btns .update-btn {
        width: 20em;
        height: 2em;
        background-color: transparent;
        transition: 0.7s;
        border-radius: 0.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #393232; }
        .profile-main-container .profile-users .btns .update-btn:hover {
          border-color: #3a6351;
          border-radius: 0.3em;
          transition: 0.7s;
          height: 2.2em; }

.store-main-container {
  background-color: #f2edd7;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row; }
  .store-main-container .back {
    font-size: 40px;
    font-family: "Barlow Condensed", sans-serif;
    color: #e48257;
    margin: 1em;
    cursor: pointer; }
  .store-main-container .store-article-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2em; }
  .store-main-container .store-articles {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    font-family: "Rasa", serif;
    font-size: 16px; }
    .store-main-container .store-articles .map-articles {
      font-size: 20px;
      width: 25em; }
      .store-main-container .store-articles .map-articles .input-article {
        background-color: transparent;
        border-color: transparent;
        width: 320px; }
        .store-main-container .store-articles .map-articles .input-article :hover {
          border-color: grey; }
    .store-main-container .store-articles button {
      width: 10em;
      height: 2em;
      background-color: #3a6351;
      transition: 0.7s;
      border-radius: 0.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #393232;
      color: #f2edd7;
      font-size: 20px;
      width: 25em;
      margin-left: 7em;
      margin-bottom: 1em; }
      .store-main-container .store-articles button:hover {
        border-color: #3a6351;
        border-radius: 0.3em;
        transition: 0.7s;
        height: 2.2em; }
    .store-main-container .store-articles .btns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 30em; }
      .store-main-container .store-articles .btns .delete-btn {
        width: 20em;
        height: 2em;
        background-color: transparent;
        transition: 0.7s;
        border-radius: 0.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #393232; }
        .store-main-container .store-articles .btns .delete-btn:hover {
          border-color: #a51b1b;
          border-radius: 0.3em;
          transition: 0.7s;
          height: 2.2em; }
      .store-main-container .store-articles .btns .update-btn {
        width: 20em;
        height: 2em;
        background-color: transparent;
        transition: 0.7s;
        border-radius: 0.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #393232; }
        .store-main-container .store-articles .btns .update-btn:hover {
          border-color: #3a6351;
          border-radius: 0.3em;
          transition: 0.7s;
          height: 2.2em; }
