.home-main-conainer {
    background-color: nth($palette, 1);
    width: $maxWidth;
    height: $maxHeight;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .home-icon-menu{
        background-color: nth($palette, 1);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p{
            font-family: $fontHeader;
            font-size: $mp-l;
            color: nth($palette, 3);
        }
    }
}