.register-main-conainer{
    background-color: nth($palette, 2);

    width: 20em;
    height: 20em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font-family: $fontBody;
    font-size: $mp-i;

    input {
        background-color: transparent;
        width: $mp-w;
    }

    button {
        @include btnSesion;
        color: nth($palette, 1);
        margin: 1em;
    }
}